<h1>Edit User</h1>

<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <br />
    <%= form.submit  class: "btn btn-primary" %>
  </div>
<% end %>
